<div class="edit-password-page">
  {{{ ProfileSidebar }}}
  <form class="edit-password-form">
    {{{ ProfileAvatar }}}
    <div class="edit-password__fieldset">
      {{{ OldPasswordUserDataField }}}
      <div class="line"></div>
      {{{ PasswordUserDataField }}}
      <div class="line"></div>
      {{{ RepeatPasswordUserDataField }}}
    </div>

    <div class="edit-password__button">
      {{{ SaveButton }}}
    </div>
  </form>
</div>
