<div class="edit-data-page">
  {{{  ProfileSidebar }}}
  <form class="edit-data-form">
    {{{ ProfileAvatar }}}
    <div class="edit-data__fieldset">
      {{{ EmailUserDataField }}}
      <div class="line"></div>
      {{{ LoginUserDataField }}}
      <div class="line"></div>
      {{{ FirstNameUserDataField }}}
      <div class="line"></div>
      {{{ SecondNameUserDataField }}}
      <div class="line"></div>
      {{{ DisplayNameUserDataField }}}
      <div class="line"></div>
      {{{ PhoneUserDataField }}}
    </div>

    <div class="edit-data__button">
      {{{ SaveButton }}}
    </div>
  </form>
</div>
