<div class="dialog">
  <form class="signup-page">
    {{{ PageTitle }}}
    {{{ EmailInputField }}}
    {{{ LoginInputField }}}
    {{{ FirstNameInputField }}}
    {{{ SecondNameInputField }}}
    {{{ PhoneInputField }}}
    {{{ PasswordInputField }}}
    {{{ RepeatPasswordInputField }}}
    <div class="signup-page_buttons">
      {{{ SignupButton }}}
      {{{ ToLoginButton }}}
    </div>
  </form>
</div>
