<div class="data-field">
  <div class="data-field__label">{{label}}</div>
  {{#if canEdit}}
    <div class="data-field__value">
      <input type="{{ type }}" value="{{ value }}" title="{{ title }}" name="{{ name }}" />
    </div>
  {{else}}
    <div class="data-field__value">{{value}}</div>
  {{/if}}
</div>
