<div class="input-field {{#if className}}{{ className }}{{/if}}">
  <div class="input-field__text">
    <div class="input-field__title">{{ title }}</div>
    <div class="input-field__error" name="{{name}}">{{errorMessage}}</div>
  </div>
  <div  class="input-field__element">
    <input class="input" type="{{ type }}" value="{{value}}" name="{{ name }}" placeholder="{{placeholder}}" />
  </div>
</div>