<div class="input-field {{#if className}}{{ className }}{{/if}}">
  <div class="input-field__title">{{ title }}</div>
  <div  class="input-field__element">
    <input type="{{ type }}" value="{{value}}" name="{{ name }}" placeholder="{{placeholder}}" />
  </div>
  <span class="input-field__error" name="{{name}}">{{errorMessage}}</span>
</div>