<div class="profile-page">
  {{{  ProfileSidebar }}}
  <div class="user-data">
    {{{ ProfileAvatar }}}

    <div class="user-data__fieldset">
     {{{ EmailUserDataField }}}
      <div class="line"></div>
      {{{ LoginUserDataField }}}
      <div class="line"></div>
      {{{ FirstNameUserDataField }}}
      <div class="line"></div>
      {{{ SecondNameUserDataField }}}
      <div class="line"></div>
      {{{ DisplayNameUserDataField }}}
      <div class="line"></div>
      {{{ PhoneUserDataField }}}
    </div>

    <div class="user-data__buttons">
      {{{ EditDataButton }}}
      <div class="line"></div>
      {{{ EditPasswordButton }}}
      <div class="line"></div>
      {{{ ExitButton }}}
    </div>
  </div>
</div>