<div class="chat-item {{#if current}}chat-item--current{{/if}}">
  {{>Avatar avatar="{{avatar}}" }}
  <div class="chat-item__message">
    <div class="message__name">{{name}}</div>
    <div class="message">{{message}}</div>
  </div>

  <div class="chat-item__info">
    <div class="info__time">{{time}}</div>
    {{#if unread}}
      <div class="info__unread-counter">{{unread}}</div>
    {{/if}}
  </div>

</div>