<div class="input-field{{#if className}}{{ className }}{{/if}}">
  <div class="input-field__title">{{ title }}</div>
  <div  class="input-field__element">
    <input type="{{ type }}" title="{{ title }}" name="{{ name }}" />
  </div>
</div>