<div class="dialog">
  <form class="login-page">
    {{{ PageTitle }}}
    {{{ LoginInputField }}}
    {{{ PasswordInputField }}}

    <div class="login-page_buttons">
      {{{ LoginButton }}}
      {{{ ToSignupButton }}}
    </div>
  </form>
</div>
