<div class="sidebar">
  <div class="sidebar-button">
    {{{ ProfileButton }}}
  </div>
  {{{ SearchPanel }}}
  <div className='chat-list'>
    {{!-- {{{ ChatItem }}} --}}

    {{#if chats}}
      {{#each chats}}
        {{{ ChatItem }}}
      {{/each}}
      {{else}}
      <div class='chat-list__empty'>Нет сообщений</div>
    {{/if}}
  </div>
</div>
