{{!-- временное решение --}}
<nav>
  <ul>
    <li>
      {{{ LoginPageLink }}}
    </li>
    <li>
      {{{ SignupPageLink }}}
    </li>
    <li>
      {{{ ErrorPageLink }}}
    </li>
    <li>
      {{{ NotFoundPageLink }}}
    </li>
    <li>
      {{{ PasswordLink }}}
    </li>
    <li>
      {{{ EditLink }}}
    </li>
    <li>
      {{{ ProfileLink }}}
    </li>
    <li>
      {{{ ChatLink }}}
    </li>
  </ul>
</nav>
